<app-column>
  <ng-template #loading>
    <app-container theme="light" fxFill>
      <mat-spinner *ngIf="loading"></mat-spinner>
    </app-container>
  </ng-template>
  <ng-container *ngIf="content$ | async as content; else loading">
    <app-container theme="light">
      <div class="container-inner form-search-container">
        <h1>
          {{ content.explore.title }}
        </h1>
        <app-search-form></app-search-form>
      </div>
    </app-container>

    <app-container [gap]="34">
      <h1>{{ content.evolution.title }}</h1>
      <app-row layoutAlign="space-between">
        <app-column *ngFor="let item of content.evolution.items">
          <app-row
            [gap]="24"
            [flex]="true"
            [appFlexHeight]="172"
            [appFlexWidth]="120"
            layoutAlign="left"
          >
            <app-icon [icon]="item.icon" class="evolution-icon"></app-icon>
            <app-column [gap]="16">
              <span class="number">{{ item.count }}</span>
              <p>{{ item.text }}</p>
            </app-column>
          </app-row>
        </app-column>
      </app-row>
      <ng-container *ngFor="let action of content.evolution.actions">
        <app-row class="evolution-link" [gap]="6">
          <a [routerLink]="action.to">
            {{ action.text }}
          </a>
          <app-icon
            class="center"
            [icon]="{ file: 'white-arrow', height: 12, width: 12 }"
          >
          </app-icon>
        </app-row>
      </ng-container>
    </app-container>

    <app-container theme="light" id="casos" [gap]="34" *ngIf="content$ | async as content; else loading">
      <div class="container-inner stories-area-title">
        <h1>{{ content.useCases.title }}</h1>
        <p>{{ content.useCases.text }}</p>
      </div>
      <app-row [gap]="17" wrap="wrap" [flex]="true" *ngIf="useCases$ | async as useCases; else loading">
        <div class="stories-overflow">
          <edu-carousel [type]="'second-type'" [items]="useCases.useCases.items"></edu-carousel>
        </div>
      </app-row>
    </app-container>

    <app-container [gap]="34" theme="dark">
      <h1>{{ content.help.title }}</h1>
      <app-row layoutAlign="space-between" [flex]="true" [gap]="60">
        <app-column
          [appWidth]="380"
          fxFill.xs
          *ngFor="let item of content.help.items"
        >
          <app-column [gap]="24" [flex]="true">
            <app-icon [icon]="item.icon"></app-icon>
            <app-column class="help-text-area" [gap]="36" [gapXs]="2">
              <app-column class="help-text" [gap]="16" appFlexWidth>
                <h3>{{ item.title }}</h3>
                <p>{{ item.text }}</p>
              </app-column>
              <app-row [gap]="12">
                <ng-container *ngFor="let action of item.actions">
                  <a
                    *ngIf="action.to"
                    [ngClass]="action.style"
                    [href]="action.to"
                    target="_blank"
                  >
                    {{ action.text }}
                  </a>
                  <a
                    *ngIf="action.route"
                    [ngClass]="action.style"
                    [routerLink]="action.route"
                    [fragment]="action.fragment"
                  >
                    {{ action.text }}
                  </a>
                </ng-container>
              </app-row>
            </app-column>
          </app-column>
        </app-column>
      </app-row>
    </app-container>

    <app-container theme="dark" id="midia" [gap]="34" *ngIf="content$ | async as content">
      <div class="container-inner stories-area-title">
        <h1>{{ content.mediaImpact.title }}</h1>
        <p>{{ content.mediaImpact.text }}</p>
      </div>
      <app-row [gap]="17" wrap="wrap" [flex]="true" *ngIf="mediaImpact$ | async as mediaImpact; else loading">
        <div class="stories-overflow">
          <edu-carousel [theme]="'dark'" [type]="'second-type'" [items]="mediaImpact.mediaImpact.items"></edu-carousel>
        </div>
      </app-row>
    </app-container>

    <app-container [gap]="34" theme="light" bg="bg-gray-square" id="entenda">
      <app-infos theme="light"></app-infos>
    </app-container>

    <app-container theme="light">
      <app-row [gap]="70" [gapXs]="16" [flex]="true">
        <ng-container *ngFor="let item of content.realization">
          <app-column [gap]="14">
            <p>{{ item.title }}</p>
            <app-row wrap="wrap" [gap]="14">
              <ng-container *ngFor="let icon of item.icons">
                <app-icon class="realization-icon" [icon]="icon"></app-icon>
              </ng-container>
            </app-row>
          </app-column>
        </ng-container>
      </app-row>
    </app-container>
  </ng-container>
</app-column>
