<app-container theme="light">
  <app-column [gap]="24">
    <h1>Formulário de requisição de uma análise customizada</h1>
    <h3>
      Preencha os campos abaixo para informar os detalhes a respeito da análise
      desejada.
    </h3>
    <section>
      <form [formGroup]="form" (submit)="onSubmit()">
        <app-column [gap]="24">
          <mat-form-field appearance="legacy">
            <div class="field">
              <div class="title">Nome</div>
              <input matInput formControlName="name" required />
            </div>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <div class="field">
              <div class="title">E-mail</div>
              <input type="email" matInput formControlName="email" required />
            </div>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <div class="field">
              <div class="title">Telefone</div>
              <input
                type="tel"
                matInput
                formControlName="phone"
                mask="(00) 0000-0000||(00) 0 0000-0000"
                required
              />
            </div>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <div class="field">
              <div class="title">Descrição</div>
              <div class="label">
                Explique os detalhes do tipo de informação que deseja
                compreender a partir da análise
              </div>
              <textarea
                matInput
                formControlName="description"
                required
              ></textarea>
            </div>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <div class="field">
              <div class="title">Palavras-chave</div>
              <div class="label">
                Informe as palavras chave que deseja monitorar, separadas por
                vírgula
              </div>
              <input matInput formControlName="keywords" required />
            </div>
          </mat-form-field>
          <div class="field">
            <div class="title">Município</div>
            <div class="label">Digite um local</div>
            <edu-city-filter
              [showAll]="true"
              [cities]="cities"
              [initialValue]="locations"
              (changeLocations)="onChangeLocations($event)"
            ></edu-city-filter>
          </div>
          <div class="field">
            <div class="title">Período de tempo (opcional)</div>
            <app-period-picker
              (rangeSelected)="changePeriod($event)"
            ></app-period-picker>
          </div>

          <div class="field">
            <div class="title theme">Subtema (opcional)</div>
            <div class="sub-title">
              Escolha uma ou mais categorias para filtrar pelo tipo de
              tecnologia.
            </div>
            <edu-themes-filter
              [isModal]="false"
              [themes]="apiThemes"
              [initialThemes]="themes"
              (themesChange)="onChangeThemes($event)"
            ></edu-themes-filter>
          </div>

          <div class="field">
            <div class="title">Envolvidos (opcional)</div>
            <div class="sub-title">
              Escolha uma ou mais categorias para filtrar por termos relevantes
              mencionados.
            </div>
            <div class="edu-input">
              <edu-themes-filter
                [isModal]="false"
                [initialThemes]="entities"
                [themes]="apiEntities"
                (themesChange)="onChangeEntities($event)"
              ></edu-themes-filter>
            </div>
          </div>

          <div class="send-container">
            <button
              class="btne-primary send-button"
              [disabled]="loading || !form.valid"
              type="submit"
            >
              <mat-spinner
                *ngIf="loading; else send"
                [diameter]="20"
              ></mat-spinner>
              <ng-template #send> Enviar </ng-template>
            </button>
          </div>
        </app-column>
      </form>
    </section>
  </app-column>
</app-container>
