@import 'src/assets/_variables.sass'
@import 'src/assets/_tools.sass'

.field
  font-family: Lato
  color: black

  @media only screen and (max-width: 768px)
    margin-bottom: rem(26)

  .label
    font-size: rem(12)
    line-height: rem(16)
    margin-bottom: rem(8)

  .title
    font-family: Baloo
    font-size: rem(22)
    line-height: rem(26)
    margin-bottom: rem(8)

    &.theme
      margin-bottom: rem(8)

  .sub-title
    font-size: rem(14)
    line-height: rem(19)
    margin-bottom: rem(8)


.send-container
  display: flex
  align-items: center
  justify-content: center
  margin-top: rem(20)

  .send-button
    width: rem(200)
    padding: rem(15)

  .send-button:disabled
    background-color: gray
    cursor: not-allowed





