{
  "noNotificationsText": "Ainda não há notificações",
  "list": [
    {
      "title": "Nova atualização",
      "content": "Nulla mattis risus at rutrum imperdiet. Sed sed nibh tortor. Aliquam ultricies elit eu fringilla ullamcorper.",
      "updatedAt": "2021/07/31",
      "isNew": true
    },
    {
      "title": "Nova atualização",
      "content": "Nulla mattis risus at rutrum imperdiet. Sed sed nibh tortor. Aliquam ultricies elit eu fringilla ullamcorper.",
      "updatedAt": "2021/07/31",
      "isNew": true
    },
    {
      "title": "Nova atualização",
      "content": "Nulla mattis risus at rutrum imperdiet. Sed sed nibh tortor. Aliquam ultricies elit eu fringilla ullamcorper.",
      "updatedAt": "2021/07/31",
      "isNew": false
    }
  ]
}
