@import '../../../assets/_tools.sass'
@import '../../../assets/_variables.sass'

.goal-card
  background-color: #f3e9e9
  padding: rem(30) !important
  color: #2c1338
  width: rem(278)
  height: rem(445)