
<ng-container *ngIf="content$ | async as content">
    <app-container theme="light" containerClass="container-notop">
        <div class="container-inner" [style.paddingTOP]="'24px'" fxLayout="column" fxLayoutGap="24px">
          <div style="aspect-ratio:4/3;" fxHide fxShow.gt-md>
            <iframe width="100%" height="100%" src="https://lookerstudio.google.com/embed/reporting/482dfb1b-c3fc-41b2-a6b0-87bb8787a443/page/E957C"
            frameborder="0"
            style="border:0"
            scrolling="no"
            allowfullscreen>
            </iframe>
          </div>
          <div style="aspect-ratio:3/4;" fxShow fxHide.gt-md>
            <iframe width="100%" height="100%" src="https://lookerstudio.google.com/embed/reporting/1a87a039-c5d2-4591-98a0-417625a16a35/page/E957C"
            frameborder="0"
            style="border:0"
            scrolling="no"
            allowfullscreen>
            </iframe>
          </div>
          <app-column [gap]="10">
            <h1>{{ content.title }}</h1>
            <p class="cities-text" [innerHtml]="content.text"></p>
            <app-column>
              <div class="cities-flex">
                <ng-container>
                  <div class="avaliable-city" *ngFor="let city of cities">{{ city.territory_name }} ({{city.state_code}})</div>
                </ng-container>
              </div>
            </app-column>
          </app-column>
        </div>
    </app-container>
</ng-container>
<app-container *ngIf="loading" theme="light" fxFill>
  <mat-spinner></mat-spinner>
</app-container>
