<div class='edu-header'>
  <edu-login-form [showForm]="showForm" (onLoggedIn)="onLogged()" (onHideForm)="onCloseLoginModal($event)"></edu-login-form>
  <div class="desktop">
    <div class="container-education">
      <div class="content">
        <div class="links">
          <a routerLink="/educacao"><div class="title">Tecnologias da Educação</div></a>
          <a><div class="link">Relatórios</div></a>
          <a><div class="link">Sobre</div></a>
          <a><div class="link">Estudos de caso</div></a>
          <a><div class="link">Busca</div></a>
        </div>

        <a (click)="openForm()" *ngIf="!isLoggedIn"><div class="login-button">Login / Cadastre-se</div></a>
      </div>
    </div>
  </div>

  <div class="mobile">
    <a routerLink="/educacao"><div class="title">Educação</div></a>

    <div class="menu" (click)="onClickMenu()">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="suspended-menu" *ngIf="mobileMenuOpen">
      <a><div class="link">Relatórios</div></a>
      <a><div class="link">Sobre</div></a>
      <a><div class="link">Estudos de caso</div></a>
      <a><div class="link">Busca</div></a>
      <a (click)="openForm()" *ngIf="!isLoggedIn"><div class="login-button">Login / Cadastre-se</div></a>
    </div>
  </div>
</div>