@import 'src/assets/_tools.sass'

.home
  background-color: white

.home-boxes
  background-color: #2D2145

.home-boxes .content
  display: flex
  justify-content: space-between
  align-items: center

.box
  background-color: #4F3979
  color: #FFFFFF
  text-align: center
  padding: rem(24)
  max-width: 280px
  border-radius: rem(4)
  border-bottom-right-radius: rem(24)

  h3
    font-size: rem(22)
    font-family: "Baloo"

  a
    app-icon
      margin-left: rem(12)


@media only screen and (max-width: 768px)
  .home-boxes
    .content
      row-gap: rem(32)