@import 'src/assets/_tools.sass'
@import 'src/assets/_variables.sass'

:host

  .autocomplete
    p
      margin: 0 0 0 0

  form
    display: flex
    flex-wrap: wrap
    gap: rem(60)

    mat-form-field
      width: 100%

    .btn
      height: rem(60)
      width: rem(174)
      border-radius: rem(30)
      background-color: #ff8500
      font-family: Lato
      color: #fff
      border: none
      font-size: rem(16)
      font-weight: 600
      letter-spacing: 0
      line-height: rem(16)

  .search-input
    width: rem(313) !important

  .city-input
    min-width: 235px
    padding-top: rem(29)

    & ::ng-deep

      .location-search
        border-bottom: 1px solid #8d8787
        font-size: rem(16)
        padding-left: rem(30)
        position: relative

        &:hover
          border-bottom: 2px solid #000

        &::after
          content: ''
          background-image: url('/assets/icons/pin-gray.svg')
          width: rem(20)
          height: rem(25)
          position: absolute
          left: 0
          top: rem(-5)
          background-size: cover
          background-repeat: no-repeat

      .tag
        padding: rem(2) rem(30) rem(2) rem(8)
        font-size: rem(14)

  .state-input
    min-width: 235px
    padding-top: rem(29)

    & ::ng-deep

      .location-search
        border-bottom: 1px solid #8d8787
        font-size: rem(16)
        padding-left: rem(30)
        position: relative

        &:hover
          border-bottom: 2px solid #000

        &::after
          content: ''
          background-image: url('/assets/icons/pin-gray.svg')
          width: rem(20)
          height: rem(25)
          position: absolute
          left: 0
          top: rem(-5)
          background-size: cover
          background-repeat: no-repeat

      .tag
        padding: rem(2) rem(30) rem(2) rem(8)
        font-size: rem(14)



@media only screen and (max-width: 768px)
  .city-input, .period-input
    width: 100% !important

  form
    .btn
      width: 100% !important