<form fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
  <app-row [flex]="true" [gap]="16">
    <data-state-filter
      [initialValue]="stateQuery"
      label="Estado"
      class="state-input"
      (changeLocations)="onChangeState($event)"
    >
    </data-state-filter>

    <data-city-filter
      [initialValue]="cityQuery"
      [loadingCities]="loadingCities"
      label="Município"
      class="city-input"
      [cities]="getCityList()"
      [showCityLevel]="true"
      (changeLocations)="onChangeCity($event)"
      (changeQuery)="onChangeQuery($event)">
    </data-city-filter>
  </app-row>

  <button (click)="search()" class="btn">Pesquisar</button>
</form>
