<footer class="bg-purple-1" fxLayout="column" fxLayoutAlign="space-around">
  <!-- HERE -->
  <div class="container" fxLayout="column" fxLayoutGap="88px">
    <div fxLayout="row" class="container-inner" fxLayout.xs="column" fxLayoutGap.xs="68px" fxLayoutAlign="space-between">
      <div fxLayout="column" fxFlex="65%" fxFlex.xs="100%">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <nav fxLayout="column" fxFlex.xs="30%">
            <p>APOIE</p>
            <a>Cadastre um município</a>
            <a>Nossas Metas</a>
            <a>Quem apoia</a>
            <a>Envie sua sugestão</a>
          </nav>

          <nav fxLayout="column" fxFlex.xs="30%">
            <p>TECNOLOGIA</p>
            <a>Documentação</a>
            <a>Contrinua com código</a>
            <a>Relatórios</a>
            <a>Blog</a>
          </nav>

          <nav fxLayout="column" fxFlex.xs="30%">
            <p>SOBRE</p>
            <a>História</a>
            <a>Casos de sucesso</a>
            <a>Quem somos</a>
            <a>Política de privacidade</a>
          </nav>
        </div>
      </div>

      <div fxLayout="column" class="social" fxFlex="25%" fxFlex.xs="100%">
        <p>REDES SOCIAIS</p>
        <div fxLayout="row" fxLayoutGap="12px">
          <mat-icon svgIcon="twitter"></mat-icon>
          <mat-icon svgIcon="instagram"></mat-icon>
          <mat-icon svgIcon="facebook"></mat-icon>
          <mat-icon svgIcon="linkedin"></mat-icon>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column" class="container-inner" fxLayoutAlign="space-between"
      fxLayoutGap="12px">
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign.xs="start">
          <mat-icon svgIcon="bitmap"></mat-icon>
          <mat-icon svgIcon="circle-person"></mat-icon>
        </div>
      </div>

      <div fxLayout="column">
        <p>
          Todo o conteúdo do Querido Diário está disponível sob a licença Creative Commons Atribuição 4.0
          Internacional, o que significa que pode ser compartilhado e reutilizado para trabalhos
          derivados, desde
          que
          citada a fonte.
        </p>
        <p>
          Desenvolvedores/as: temos dados abertos e API ♥ Conheça e contribua com o código
        </p>
      </div>
    </div>
  </div>
</footer>