<ng-template #loading>
  <app-container theme="light" fxFill>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </app-container>
</ng-template>
<app-container *ngIf="navigation$ | async as navigation; else loading">
  <div class="container-inner">
    <app-column [gap]="36">
      <app-column [gap]="16">
        <em>
          <a href="/tecnologia">Leia esta página em Português</a>
        </em>
        <h1>{{ navigation.title }}</h1>
        <h3>{{ navigation.text }}</h3>
      </app-column>
      <app-row [gap]="36" class="nav-secondary">
        <ng-container *ngFor="let action of navigation.actions">
          <a
            [href]="action.to"
            target="_blank"
            [ngClass]="action.style"
            *ngIf="action.to"
          >
            {{ action.text }}
          </a>
          <a
            [routerLink]="action.route"
            [fragment]="action.fragment"
            [ngClass]="action.style"
            *ngIf="action.route"
          >
            {{ action.text }}
          </a>
        </ng-container>
      </app-row>
    </app-column>
  </div>
</app-container>

<app-container
  *ngIf="documentations$ | async as doc"
  theme="light"
  id="documentation"
>
  <div class="container-inner">
    <app-column [gap]="60">
      <app-column
        *ngFor="let documentation of documentations$ | async"
        [gap]="42"
      >
        <h2 [id]="documentation.title.toLowerCase().replaceAll(' ', '-')">{{ documentation.title }}</h2>
        <ng-container *ngFor="let text of documentation.texts">
          <div class="typo-inner highlight" [innerHTML]="text"></div>
        </ng-container>

        <ng-container *ngFor="let img of documentation.images">
          <img
            [src]="img.src"
            [appHeight]="img.height"
            [appFlexHeight]="img.appHeightXs"
          />
        </ng-container>
      </app-column>
      <div class="embed-calendar">
        <iframe src='https://calendar.google.com/calendar/u/0/embed?wkst=1&ctz=America/Sao_Paulo&bgcolor=%23f3e9e9&showPrint=0&showTabs=0&showCalendars=0&src=Y181NmNjZmE4MTI0NmIxMjA5ODFjZGI3NWI1ZDQ5ZjM2NzAxNzIwZDA4ZmExZDExOWYwOTUyN2JlNzJiZGNlZGUwQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%239E69AF' style='border: 0' width='100%' height='500' frameborder='0' scrolling='no'>
        </iframe>
      </div>
    </app-column>
  </div>
</app-container>
