<app-row>
  <header fxLayout="row">
    <div class="container">
      <a routerLink="/"><mat-icon svgIcon="logo" class="logo"></mat-icon></a>
      <nav fxHide.xs fxLayoutGap="32px">
        <a routerLink="/" #explore>Explore</a>
        <a routerLink="/tecnologia">Tecnologia</a>
        <a routerLink="/sobre">Sobre o querido diário</a>
        <!--<a fxLayout="center" (click)="openNotifications()">
          <mat-icon svgIcon="notification" class="bell"></mat-icon>
        </a>-->
        <button routerLink="/apoie" class="btn">Apoie</button>
      </nav>
      <a (click)="openDialog()" id="support" fxHide fxHide.xs="false">
        <mat-icon svgIcon="bars" class="bars"></mat-icon>
      </a>
    </div>
    <app-modal fxHide> </app-modal>
    <!--<app-notifications fxHide></app-notifications>-->
  </header>
</app-row>
