<div class="location-search" (click)="focusOnInput()" (mouseleave)="focusOutInput()">
  <div *ngIf="selectedCities" (click)="removeCity(selectedCities, $event)" class="tag">
    {{ selectedCities.territory_label || selectedCities.territory_name + ' (' + selectedCities.state_code + ')' }}
    <img src="assets/images/education/close.png" alt="fechar" />
  </div>

  <div class="text-area">
    <div class="editable" [class.disabled]="disabled"  [attr.contenteditable]="!disabled" (focus)="onHidePlaceholder()" contenteditable="true" id="location-filter-data" (keyup)="getText()" (click)="onHidePlaceholder()" (blur)="onShowPlaceholder()" (keydown)="blockTyping($event)">
    </div>
    <div class="new-place" *ngIf="showPlaceholder">{{ label }}</div>
  </div>

  <div class="dropdown" (click)="stopPropagation($event)" *ngIf="showDropdown">
    <ng-container *ngIf="!loadingCities">
        <div class="option line" *ngFor="let city of getCitiesList()" (click)="addCity(city)">
          {{ city.territory_label || city.territory_name + ' (' + city.state_code + ')' }}
        </div>
    </ng-container>
    <div class="loading-options" *ngIf="isLoading && query.length > 2 || loadingCities">
      <mat-spinner></mat-spinner>
    </div>

    <div class="empty-result" *ngIf="query.length > 2 && !getCitiesList().length && !isLoading && !loadingCities">
      Nenhum resultado encontrado para sua busca
    </div>
  </div>
</div>
