<ng-container [ngSwitch]="element.type">
  <h1 *ngSwitchCase="'h1'">{{ element.content }}</h1>
  <app-icon *ngSwitchCase="'icon'" [icon]="element"></app-icon>
  <p *ngSwitchCase="'text'">
    {{ element.content }}
  </p>
  <a *ngSwitchCase="'link'" [routerLink]="element.link" class="color-white-2">
    {{ element.text }}
    <app-icon *ngIf="element.icon" [icon]="element.icon"></app-icon>
  </a>
  <ng-container *ngSwitchCase="'list'">
    <div
      [fxLayout]="element.layout"
      [fxLayoutAlign]="element.layoutAlign"
      [fxLayoutGap]="element.gap + 'px'"
    >
      <ng-container *ngFor="let item of element.content | async">
        <app-content [element]="item"></app-content>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'section'">
    <section
      [ngClass]="element.theme"
      [fxLayoutAlign]="element.layoutAlign"
      [fxLayout]="element.layout"
    >
      <div
        class="container"
        fxLayout="column"
        [fxLayoutGap]="element.gap + 'px'"
      >
        <ng-container *ngFor="let item of element.content | async">
          <app-content [element]="item"></app-content>
        </ng-container>
      </div>
    </section>
  </ng-container>
</ng-container>
