@import '../../../assets/_variables.sass'
@import '../../../assets/_tools.sass'

.container
  width: rem(1220)

.container-inner
  padding: 0 rem(100)

.header
  padding-top: rem(80)
  padding-bottom: rem(80)

  a
    font-family: Lato-Regular
    font-size: rem(16)
    font-weight: 600
    letter-spacing: 0
    line-height: rem(16)

h1
  color: $white2
  font-family: Baloo-Bold
  font-size: rem(36)
  font-weight: 800
  letter-spacing: rem(-0.6)
  margin: 0

h3
  color: $white2
  font-family: Lato-Bold
  font-size: rem(20)
  font-weight: 600
  letter-spacing: 0
  line-height: rem(19)

s
  text-decoration: none
  position: relative
  color: $black
  font-family: Lato-Bold
  font-size: rem(35)
  font-weight: 600
  letter-spacing: 0
  line-height: rem(19)


s::before
  content: ''
  width: 64%
  position: absolute
  left: 0
  top: calc(50% - -3.5px)
  border-bottom: 3px solid $black

p
  color: $white2
  font-family: Lato-Regular
  font-size: rem(16)
  font-weight: 600
  letter-spacing: 0
  line-height: rem(28)
  margin: 0

.goals
  padding: rem(60) 0

  p
    color: #F3E9E9
    font-family: Lato-Regular
    font-size: 16px
    font-weight: 600
    letter-spacing: 0
    line-height: 28px

  .card
    height: rem(470)
    width: rem(278)
    padding: rem(30)

    h2
      color: #2C1338
      font-family: Lato-Bold
      font-size: 24px
      font-weight: 900
      letter-spacing: -0.57px
      line-height: 23px

    h3
      color: #966BE8
      font-family: Lato-Bold
      font-size: 36px
      font-weight: 900
      letter-spacing: -0.6px
      line-height: 42px

    p
      color: #2C1338
      font-family: Lato-Regular
      font-size: 16px
      font-weight: 600
      letter-spacing: 0
      line-height: 28px

    a
      color: #966BE8
      font-family: Lato-Bold
      font-size: 16px
      font-weight: bold
      letter-spacing: 0
      line-height: 16px

  mat-icon
      height: rem(120)
      width: rem(74)

  .right-arrow
    height: rem(12)
    width: rem(12)

@media only screen and (max-width: 768px)
  :host
    overflow-x: hidden

  section, .container
    width: 100%

  .container
    padding: 0 rem(16)

  .goals .card
    width: 100%
    height: unset

  .container-inner
    padding: 0