<div fxLayout="column">
  <section class="bg-purple-1" fxLayoutAlign="center" fxLayout="row">
    <div class="container">
      <div class="container-inner header" fxLayout="column" fxLayoutGap="36px">
        <div fxLayout="column" fxLayoutGap="24px">
          <app-h1>Apoie</app-h1>
          <h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque odio neque, interdum vel nunc varius, fringilla viverra
            risus.
          </h3>
        </div>
        <nav fxFlex fxLayoutGap="36px" class="color-orange-1 nav">
          <a href="/apoie#nossas-metas">Nossas metas</a>
          <a href="/apoie#quem-apoia">Quem apoia</a>
        </nav>
      </div>
    </div>
  </section>

  <section class="bg-purple-1" fxLayoutAlign="center" fxLayout="row">
    <div fxLayout="column" fxLayoutGap="42px">
      <div fxLayoutGap="22px" fxLayout="column">
        <app-h1>Nossas Metas</app-h1>
        <p>
          O querido diário está só começando! Temos vários objetivos para o
          projeto, e você pode nos ajudar a chegar lá:
        </p>
      </div>
      <app-carousel [items]="goals | async"></app-carousel>
    </div>
  </section>

  <section
    class="bg-purple-1"
    fxLayoutAlign="center"
    fxLayout="row"
    id="quem-apoia"
  >
    <div class="container">
      <div class="container-inner" fxLayout="column" fxLayoutGap="48px">
        <div
          fxLayout="column"
          fxLayoutGap="60px"
          fxFlexOffset="100px"
          class="theme-purple-1"
        >
          <app-h1>Quem apoia</app-h1>

          <div fxLayout="column">
            <h3>Realização</h3>
            <div fxLayout="column" fxLayoutGap="34px">
              <p>
                O Querido Diário é um projeto realizado e desenvolvido pela
                <a href="https://www.ok.org.br/" target="_blank"
                  >Open Knowledge Brasil</a
                >, contando com a colaboração de sua
                <a href="https://embaixadoras.ok.org.br/" target="_blank"
                  >rede de pessoas Embaixadoras de Inovação Cívica</a
                >
                e da comunidade em torno da
                <a href="https://serenata.ai/" target="_blank"
                  >Operação Serenata de Amor</a
                >.
              </p>
              <div fxLayout="row" fxLayoutGap="34px">
                <mat-icon
                  svgIcon="logo-OK"
                  [ngStyle]="{ height: '32px', width: '116px' }"
                  class="logo-OK"
                ></mat-icon>
                <mat-icon
                  svgIcon="logo-serenata"
                  class="logo-serenata"
                  [ngStyle]="{ height: '41px', width: '83px' }"
                >
                </mat-icon>
                <mat-icon
                  svgIcon="logo-embaixadores"
                  [ngStyle]="{ height: '18px', width: '116px' }"
                  class="logo-embaixadores"
                ></mat-icon>
              </div>
            </div>
          </div>

          <div fxLayout="column">
            <h3>Financiamento do algoritmo de busca</h3>
            <div fxLayout="column" fxLayoutGap="34px">
              <p>
                Em junho de 2020, a Open Knowledge Brasil foi uma das
                organizações selecionadas pelo projeto
                <a href="https://empatia.la/" target="_blank">EmpatIA</a>,
                mantido pela Iniciativa
                <a href="https://idatosabiertos.org/" target="_blank"
                  >Latino-Americana de Dados Abertos (ILDA)</a
                >
                e com financiamento do Banco Interamericano de Desenvolvimento
                (BID). O projeto visa compreender e desenvolver novos
                conhecimentos sobre a utilização da Inteligência Artificial (IA)
                na resolução de problemas públicos, e possibilitou o
                desenvolvimento da primeira versão do algoritmo de busca da
                plataforma Querido Diário.
              </p>

              <div fxLayout="row" fxLayoutGap="62px">
                <mat-icon
                  svgIcon="logo-Ilda"
                  [ngStyle]="{ height: '17px', width: '52px' }"
                  class="logo-OK"
                >
                </mat-icon>
                <mat-icon
                  svgIcon="logo-Ilda"
                  [ngStyle]="{ height: '17px', width: '52px' }"
                  class="logo-OK"
                >
                </mat-icon>
              </div>
            </div>
          </div>

          <div fxLayout="column">
            <h3>Desenvolvimento frontend e usabilidade</h3>
            <div fxLayout="column" fxLayoutGap="34px">
              <p>
                A atual versão da plataforma foi desenvolvida com o apoio da
                Jurema, que é responsável pelo frontend e pelo estudo da
                experiência das pessoas usuárias.
              </p>

              <div fxLayout="row">
                <mat-icon
                  svgIcon="logo-jurema"
                  [ngStyle]="{ height: '18px', width: '80px' }"
                  class="logo-serenata"
                >
                </mat-icon>
              </div>
            </div>
          </div>

          <div fxLayout="column">
            <h3>Automatização da raspagem de dados</h3>
            <div fxLayout="column" fxLayoutGap="34px">
              <p>
                O Querido Diário também recebe apoio da
                <a href="https://www.zyte.com/" target="_blank">Zyte</a> para
                utilizar sua infraestrutura, possibilitando a automatização do
                processo de raspagem das informações textuais contidas nos
                diários oficiais.
              </p>

              <div fxLayout="row">
                <mat-icon
                  svgIcon="logo-jurema"
                  [ngStyle]="{ height: '18px', width: '80px' }"
                  class="logo-serenata"
                >
                </mat-icon>
              </div>
            </div>
          </div>

          <div fxLayout="column">
            <h3>Armazenamento e hospedagem</h3>
            <div fxLayout="column" fxLayoutGap="34px">
              <p>
                A plataforma está hospedada na
                <a href="https://www.digitalocean.com/" target="_blank"
                  >DigitalOcean</a
                >, que é apoiadora de longa data do Querido Diário e da Operação
                Serenata de Amor.
              </p>

              <div fxLayout="row">
                <mat-icon
                  svgIcon="logo-digitalocean"
                  [ngStyle]="{ height: '18px', width: '110px' }"
                ></mat-icon>
              </div>
            </div>
          </div>

          <div fxLayout="column" fxLayoutGap="48px" fxFlex>
            <h3>Comunidade</h3>

            <p>
              Existem várias maneiras de contribuir com o Querido Diário. Se
              você deseja ajudar o projeto a ir mais longe,
              <a
                href="https://www.catarse.me/queridodiario-okbr"
                target="_blank"
                >acesse nossa campanha de financiamento coletivo no Catarse</a
              >
              e consulte as faixas de doação e suas recompensas. Assim, você se
              junta às XX pessoas que já nos ajudaram:
            </p>

            <div fxLayout="row wrap" fxLayoutAlign="space-between">
              <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                <p>Alan Silva Costa</p>
                <p>Alexandre Vasconcelos</p>
                <p>Álvaro Dornelles Hetzel</p>
                <p>Amanda Lie Kitagava</p>
                <p>Ana Luiza Santos Terra</p>
                <p>Andre Assumpcao</p>
                <p>Augusto Pascutti</p>
                <p>Bruno Englert Moutinho</p>
                <p>Caio Werneck</p>
                <p>Danilo Amaral de OLiveira</p>
              </div>

              <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                <p>2Alan Silva Costa</p>
                <p>Alexandre Vasconcelos</p>
                <p>Álvaro Dornelles Hetzel</p>
                <p>Amanda Lie Kitagava</p>
                <p>Ana Luiza Santos Terra</p>
                <p>Andre Assumpcao</p>
                <p>Augusto Pascutti</p>
                <p>Bruno Englert Moutinho</p>
                <p>Caio Werneck</p>
                <p>Danilo Amaral de OLiveira</p>
              </div>

              <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                <p>3Alan Silva Costa</p>
                <p>Alexandre Vasconcelos</p>
                <p>Álvaro Dornelles Hetzel</p>
                <p>Amanda Lie Kitagava</p>
                <p>Ana Luiza Santos Terra</p>
                <p>Andre Assumpcao</p>
                <p>Augusto Pascutti</p>
                <p>Bruno Englert Moutinho</p>
                <p>Caio Werneck</p>
                <p>Danilo Amaral de OLiveira</p>
              </div>

              <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                <p>4Alan Silva Costa</p>
                <p>Alexandre Vasconcelos</p>
                <p>Álvaro Dornelles Hetzel</p>
                <p>Amanda Lie Kitagava</p>
                <p>Ana Luiza Santos Terra</p>
                <p>Andre Assumpcao</p>
                <p>Augusto Pascutti</p>
                <p>Bruno Englert Moutinho</p>
                <p>Caio Werneck</p>
                <p>Danilo Amaral de OLiveira</p>
              </div>

              <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                <p>5Alan Silva Costa</p>
                <p>Alexandre Vasconcelos</p>
                <p>Álvaro Dornelles Hetzel</p>
                <p>Amanda Lie Kitagava</p>
                <p>Ana Luiza Santos Terra</p>
                <p>Andre Assumpcao</p>
                <p>Augusto Pascutti</p>
                <p>Bruno Englert Moutinho</p>
                <p>Caio Werneck</p>
                <p>Danilo Amaral de OLiveira</p>
              </div>
            </div>
          </div>

          <div fxLayout="row">
            <p>
              Se você é uma pessoa desenvolvedora interessada em contribuir com
              o código do projeto, que é aberto e acessível a toda a comunidade,
              consulte nossos repositórios no Github e junte-se ao time que
              ajuda o Querido Diário a tomar forma:
            </p>
          </div>

          <div fxLayout="column" fxLayoutGap="48px">
            <h3>Repositório geral do Querido Diário</h3>

            <div fxLayout="row wrap" fxLayoutAlign="space-between">
              <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                <p>Alan Silva Costa</p>
                <p>Alexandre Vasconcelos</p>
                <p>Álvaro Dornelles Hetzel</p>
                <p>Amanda Lie Kitagava</p>
                <p>Ana Luiza Santos Terra</p>
                <p>Andre Assumpcao</p>
                <p>Augusto Pascutti</p>
                <p>Bruno Englert Moutinho</p>
                <p>Caio Werneck</p>
                <p>Danilo Amaral de OLiveira</p>
              </div>

              <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                <p>2Alan Silva Costa</p>
                <p>Alexandre Vasconcelos</p>
                <p>Álvaro Dornelles Hetzel</p>
                <p>Amanda Lie Kitagava</p>
                <p>Ana Luiza Santos Terra</p>
                <p>Andre Assumpcao</p>
                <p>Augusto Pascutti</p>
                <p>Bruno Englert Moutinho</p>
                <p>Caio Werneck</p>
                <p>Danilo Amaral de OLiveira</p>
              </div>

              <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                <p>3Alan Silva Costa</p>
                <p>Alexandre Vasconcelos</p>
                <p>Álvaro Dornelles Hetzel</p>
                <p>Amanda Lie Kitagava</p>
                <p>Ana Luiza Santos Terra</p>
                <p>Andre Assumpcao</p>
                <p>Augusto Pascutti</p>
                <p>Bruno Englert Moutinho</p>
                <p>Caio Werneck</p>
                <p>Danilo Amaral de OLiveira</p>
              </div>

              <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                <p>4Alan Silva Costa</p>
                <p>Alexandre Vasconcelos</p>
                <p>Álvaro Dornelles Hetzel</p>
                <p>Amanda Lie Kitagava</p>
                <p>Ana Luiza Santos Terra</p>
                <p>Andre Assumpcao</p>
                <p>Augusto Pascutti</p>
                <p>Bruno Englert Moutinho</p>
                <p>Caio Werneck</p>
                <p>Danilo Amaral de OLiveira</p>
              </div>

              <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                <p>5Alan Silva Costa</p>
                <p>Alexandre Vasconcelos</p>
                <p>Álvaro Dornelles Hetzel</p>
                <p>Amanda Lie Kitagava</p>
                <p>Ana Luiza Santos Terra</p>
                <p>Andre Assumpcao</p>
                <p>Augusto Pascutti</p>
                <p>Bruno Englert Moutinho</p>
                <p>Caio Werneck</p>
                <p>Danilo Amaral de OLiveira</p>
              </div>
            </div>
          </div>

          <div fxLayout="row">
            <div fxLayout="column" fxFlex fxLayoutGap="12px">
              <h3>
                <a
                  href="https://github.com/okfn-brasil/querido-diario-api"
                  target="_blank"
                >
                  Repositório de desenvolvimento da API
                </a>
              </h3>
              <div fxLayout="row wrap">
                <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                  <p>José Guilherme Vanz</p>
                </div>
                <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                  <p>Eduardo Coducos</p>
                </div>
              </div>
            </div>
          </div>

          <div fxLayout="row">
            <div fxLayout="column" fxFlex fxLayoutGap="12px">
              <h3>
                <a
                  href="https://github.com/okfn-brasil/querido-diario-toolbox"
                  target="_blank"
                >
                  Repositório de desenvolvimento da Toolbox (processamento de
                  dados)
                </a>
              </h3>
              <div fxLayout="row wrap">
                <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                  <p>Andre Assumpcao</p>
                </div>
                <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                  <p>José Guilherme Vanz</p>
                </div>
              </div>
            </div>
          </div>

          <div fxLayout="row">
            <div fxLayout="column" fxFlex fxLayoutGap="12px">
              <h3>
                <a
                  href="https://github.com/okfn-brasil/censo-querido-diario"
                  target="_blank"
                >
                  Censo dos diários oficiais - análises e relatórios
                </a>
              </h3>
              <div fxLayout="row wrap">
                <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                  <p>Bernardo Chrispim Baron</p>
                  <p>Geovane Oliveira de Carvalho</p>
                </div>

                <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                  <p>Ana Cecília Vieira</p>
                  <p>Giulio Carvalho</p>
                </div>

                <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                  <p>David Pierre</p>
                  <p>Fausto Sá Teles</p>
                </div>

                <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                  <p>Vinicius Antonini</p>
                </div>

                <div fxFlex="1 1 20%" fxFlex.xs="1 1 45%">
                  <p>Ana Paula Gomes</p>
                </div>
              </div>
            </div>
          </div>
          <div fxFlexOffset.xs="94px"></div>
        </div>
      </div>
    </div>
  </section>
</div>
