<mat-dialog-actions>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-icon svgIcon="logo" class="logo"></mat-icon>
    <div fxLayoutAlign="flex-end" fxLayoutGap="16px">
      <a>
        <mat-icon svgIcon="notification" class="bell"></mat-icon>
      </a>
      <a>
        <mat-icon aria-label="Fechar Menu" aria-hidden="false"
        mat-dialog-close svgIcon="close" class="close"></mat-icon>
      </a>
    </div>
  </div>
</mat-dialog-actions>
<mat-dialog-content>
  <div fxLayout="column" fxLayoutAlign="space-between" fxFlexFill>
    <nav fxLayout="column" fxLayoutGap="32px">
      <a>Explore</a>
      <a>Tecnologia</a>
      <a>Sobre o querido diário</a>
    </nav>
    <button class='btn'>Apoie</button>
  </div>
</mat-dialog-content>