<app-column>
    <ng-template #loading>
      <app-container theme="light" fxFill>
        <mat-spinner *ngIf="loading"></mat-spinner>
      </app-container>
      
    </ng-template>
    <ng-container *ngIf="content$ | async as content; else loading">
      <app-container theme="light">
        <div class="container-inner form-search-container">
          <h1>
            {{ content.explore.title }}
          </h1>
          <app-data-form></app-data-form>
        </div>
      </app-container>
  
      <app-container [gap]="34">
        <h1>{{ content.dados.title }}</h1>
        <p class="subtitle">{{ content.dados.subtitle }}</p>
          <app-row *ngFor="let action of content.baixar.actions" [gap]="8">

            <div class="center">
              <a class="btn-secondary" [routerLink]="action.to">
                {{ action.text }}
              </a>
            </div>
          </app-row>
       
      </app-container>

      <app-container [gap]="34" theme="dark">
        <app-row layoutAlign="space-between" [flex]="true" [gap]="60">
          <div class="results">
            <div class="loading-search" *ngIf="isLoading">
              <mat-spinner></mat-spinner>
            </div>
            <div class="empty" *ngIf="!isLoading && !hasSearched">
              <div class="empty-content">
                <img src="assets/images/education/busca.png" alt="buscar" />
                <div class="text">Busque por municípios ou utilize os filtros<br> para
                  encontrar resultados</div>
              </div>
            </div>
          </div>
        </app-row>
      </app-container>

    </ng-container>
  </app-column>
  