<div fxLayout="column">
  <section class="bg-white-2" fxLayoutAlign="center" fxLayout="row">
    <div class="container" fxLayout="column">
      <app-search-form></app-search-form>
    </div>
  </section>

  <section
    class="bg-purple-2"
    fxLayoutAlign="center"
    fxLayout="row"
    *ngIf="!territory && gazetteResponse && gazetteResponse.total_gazettes == 0"
  >
    <!--     this.territoryService.select(city) -->
    <div class="container" fxLayout="column" fxLayoutGap="18px">
      <app-h2>
        Sua pesquisa não encontrou nenhum conteúdo correspondente
      </app-h2>
      <p>
        Confira a grafia das palavras, tentes outros termos ou palavras mais
        genéricas
      </p>
    </div>
  </section>

  <section
    class="bg-purple-2"
    fxLayoutAlign="center"
    fxLayout="row"
    *ngIf="!!territory"
  >
    <div class="container" fxLayout="column" fxLayoutGap.xs="36px" fxLayoutGap="44px">
      <div fxLayout="row">
        <div fxLayout="row" fxFlex="40%" fxFlex.xs fxLayoutGap="12px">
          <mat-icon [appHeight]="50" [appWidth]="50" svgIcon="check"></mat-icon>
          <div fxLayout="column" fxLayoutGap="16px">
            <p>{{ territory.territory_name }}</p>
            <span
              ><p>NÍVEL {{ territory.level }} DE ACESSO</p></span
            >
          </div>
        </div>

        <div
          fxLayout="column"
          fxFlex="60%"
          fxFlex.xs
          fxLayoutGap="18px"
          *ngIf="!!levelDescription"
        >
          <p>
            {{ levelDescription.text }}
          </p>
          <button *ngIf="levelDescription.button">
            {{ levelDescription.button.text }}
          </button>
        </div>
      </div>

      <div fxLayout="column" fxLayoutGap="42px" *ngIf="gazetteResponse && !gazetteResponse.total_gazettes">
        <p>Acesse a fonte de publicação para ver os arquivos originais:</p>
        <div
          fxLayout="column"
          class="bg-white-2 result color-purple-1"
          fxLayoutGap="12px"
        >
          <h3>Diários oficiais • {{ territory.territory_name }}</h3>
          <ng-container *ngFor="let publication_url of territory.publication_urls">
            <a [href]="publication_url" target="_blank">
            {{ extractUrlDomain(publication_url) }}
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </section>

  <div *ngIf="gazetteResponse && gazetteResponse.total_gazettes">
    <section class="bg-purple-2" fxLayoutAlign="center" fxLayout="row">
      <div class="container" fxLayout="column" fxLayoutGap="42px">
        <p>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
          scelerisque ante sollicitudin commodo.
        </p>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <app-h2
            >{{ gazetteResponse.total_gazettes }} resultados encontrados</app-h2
          >
          <app-select
            [title]="'ORDENAR POR'"
            [options]="orderOptions"
            [selected]="sort_by"
            (onSelected)="orderChanged($event)"
            [theme]="'dark'"
          ></app-select>
        </div>

        <pagination-template
          #p="paginationApi"
          *ngFor="
            let gazette of gazetteResponse.gazettes
              | paginate
                : {
                    itemsPerPage: pagination.itemsPerPage,
                    currentPage: pagination.currentPage,
                    totalItems: gazetteResponse.total_gazettes
                  }
          "
        >
          <div
            fxLayout="column"
            class="bg-white-2 result color-purple-1"
            fxLayoutGap="22px"
          >
            <p *ngFor="let highlight_text of gazette.highlight_texts">
              {{ highlight_text }}
            </p>
            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutAlign="space-between"
            >
              <p>
                {{ gazette.date }} •
                <span class="color-purple-3">{{ gazette.territory_name }}</span>
              </p>
              <app-select
                [theme]="'light'"
                (onSelected)="openFile($event)"
                [options]="[
                  {
                    value: 'http://path/to/text',
                    viewValue: 'Baixar txt'
                  },
                  {
                    value: gazette.url,
                    viewValue: 'Baixar arquivo original'
                  }
                ]"
                [label]="'Baixar diário oficial'"
              ></app-select>
            </div>
          </div>
        </pagination-template>
        <div fxLayout="row" fxFlexAlign="center">
          <a class="pagination-first-page" *ngIf="pagination.currentPage > 1">
            <mat-icon
              (click)="firstPage()"
              svgIcon="pagination-left-double-arrow"
            ></mat-icon>
          </a>
          <a class="pagination-first-page" *ngIf="pagination.currentPage > 1">
            <mat-icon
              (click)="previousPage()"
              svgIcon="pagination-left-single-arrow"
            ></mat-icon>
          </a>
          <pagination-controls
            (pageChange)="pageChange($event)"
            previousLabel=""
            nextLabel=""
            [responsive]="true"
          >
          </pagination-controls>
          <a
            class="pagination-first-page"
            *ngIf="
              pagination.totalItems &&
              pagination.currentPage < pagination.totalItems
            "
          >
            <mat-icon
              (click)="nextPage()"
              svgIcon="pagination-right-single-arrow"
            ></mat-icon>
          </a>
          <a
            class="pagination-first-page"
            *ngIf="
              pagination.totalItems &&
              pagination.currentPage < pagination.totalItems
            "
          >
            <mat-icon
              (click)="lastPage()"
              svgIcon="pagination-right-double-arrow"
            ></mat-icon>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
