<ng-template #loading>
  <app-container theme="light" fxFill>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </app-container>
</ng-template>
<app-container *ngIf="navigation$ | async as navigation; else loading">
  <div class="container-inner">
    <app-column [gap]="36">
      <app-column [gap]="16">
        <h1>{{ navigation.title }}</h1>
        <h3>{{ navigation.text }}</h3>
      </app-column>
      <app-row [gap]="36" class="nav-secondary">
        <ng-container *ngFor="let action of navigation.actions">
          <a [href]="action.to" target="_blank" [ngClass]="action.style" *ngIf="action.to">
            {{ action.text }}
          </a>
          <a [routerLink]="action.route" [fragment]="action.fragment" [ngClass]="action.style" *ngIf="action.route">
            {{ action.text }}
          </a>
        </ng-container>
      </app-row>
    </app-column>
  </div>
</app-container>

<app-container *ngIf="documentationIndex$ | async as doc" theme="light" id="documentacao">
  <div class="container-inner">
    <app-column [gap]="60">
      <app-column [gap]="40">
        <h1>{{ doc.title }}</h1>
        <app-column>
          <p>{{ doc.text }}</p>
          <ng-container *ngFor="let action of doc.actions">
            <a [routerLink]="action.to" [ngClass]="action.style">
              {{ action.text }}
            </a>
          </ng-container>
        </app-column>
      </app-column>
      <app-column
        *ngFor="let documentation of documentations$ | async"
        [gap]="42"
      >
        <h2>{{ documentation.title }}</h2>
        <ng-container *ngFor="let text of documentation.texts">
          <div class="typo-inner highlight" [innerHTML]="text"></div>
        </ng-container>

        <ng-container *ngFor="let img of documentation.images">
          <img [src]="img.src" [appHeight]="img.height" [appFlexHeight]= "img.appHeightXs" />
        </ng-container>
      </app-column>
    </app-column>
  </div>
</app-container>

<app-container [gap]="34" theme="light" bg="bg-yellow-lines" id="relatorios">
  <ng-container *ngIf="reports$ | async as reports">
    <div class="container-inner">
      <h1>{{ reports.title }}</h1>
      <div
        class="typo-inner highlight"
        [innerHTML]="reports.text"
        [style.color]="'#5E408F'"
      ></div>
    </div>
    <app-row [gap]="17" [flex]="true">
      <app-column
        [style.padding]="'42px 30px'"
        *ngFor="let item of reports.items"
        [gap]="34"
        theme="dark-secondary"
        [appWidth]="382"
        fxFill.xs
      >
        <h2>{{ item.title }}</h2>
        <p>{{ item.text }}</p>
        <ng-container *ngFor="let action of item.actions">
          <a [routerLink]="'/'">{{ action.text }}</a>
        </ng-container>
      </app-column>
    </app-row>
  </ng-container>
</app-container>
