<ng-container *ngIf="content$ | async as content">
  <app-container>
    <app-column [gap]="36">
      <app-column [gap]="16">
        <h1>{{ content.about.title }}</h1>
        <p>{{ content.about.text }}</p>
      </app-column>
      <app-row [gap]="36" class="nav-secondary">
        <ng-container *ngFor="let action of content.about.actions">
          <a [routerLink]="action.to" [ngClass]="action.style">
            {{ action.text }}
          </a>
        </ng-container>
      </app-row>
    </app-column>
  </app-container>

  <app-container theme="light">
    <app-column [gap]="22">
      <h1>
        {{ content.history.title }}
      </h1>
      <div class="typo-inner" [innerHTML]="content.history.text"></div>
    </app-column>
  </app-container>

  <app-container theme="light" [title]="content.successCases.title" [gap]="34">
    <p>{{ content.successCases.text }}</p>
    <app-row [gap]="17">
      <app-column
        [style.padding]="'42px 30px'"
        *ngFor="let item of content.successCases.items"
        [gap]="34"
        theme="dark-secondary"
      >
        <h2>{{ item.title }}</h2>
        <p>{{ item.text }}</p>
        <ng-container *ngFor="let action of item.actions">
          <a [routerLink]="'/'">{{ action.text }}</a>
        </ng-container>
      </app-column>
    </app-row>
  </app-container>

  <app-container theme="light">
    <app-column [gap]="36">
      <h1>{{ content.whoWeAre.title }}</h1>
      <div class="typo-inner" [innerHTML]="content.whoWeAre.text"></div>
    </app-column>
  </app-container>

  <app-container theme="light">
    <app-column [gap]="36">
      <h1>
        {{ content.privacy.title }}
      </h1>
      <p>{{ content.privacy.text }}</p>
      <ng-container *ngFor="let action of content.privacy.actions">
        <button [appHeight]="43" [appWidth]="249" [routerLink]="action.to" [ngClass]="action.style">
          {{ action.text }}
        </button>
      </ng-container>
    </app-column>
  </app-container>
</ng-container>
