<ng-container *ngIf="content$ | async as content">
  <app-container>
    <app-column>
      <h1>{{ content.about.title }}</h1>
      <p>{{ content.about.text }}</p>
      <app-row>
        <ng-container *ngFor="let action of content.about.actions">
          <a [routerLink]="action.to" [ngClass]="action.style">
            {{ action.text }}
          </a>
        </ng-container>
      </app-row>
    </app-column>
  </app-container>

  <app-container [title]="content.history.title">
    <div [innerHTML]="content.history.text"></div>
  </app-container>

  <app-container
    [title]="content.successCases.title"
    [gap]="34"
    theme="light"
  >
    <p>{{ content.successCases.text }}</p>
    <app-row [gap]="17">
      <app-column
        [style.padding]="'42px 30px'"
        *ngFor="let item of content.successCases.items"
        [gap]="34"
        theme="lighter"
      >
        <h2>{{ item.title }}</h2>
        <p>{{ item.text }}</p>
        <ng-container *ngFor="let action of item.actions">
          <a [routerLink]="'/'">{{ action.text }}</a>
        </ng-container>
      </app-column>
    </app-row>
  </app-container>
</ng-container>
