<form class="filters-area" [formGroup]="formGroup">
  <div class="field">
    <div class="title">Município</div>
    <edu-city-filter [initialValue]="locations" (changeLocations)="onChangeLocations($event)"></edu-city-filter>
  </div>

  <div class="field">
    <div class="title">Período de tempo</div>
    <edu-period-filter [initialValue]="dates" (changeDates)="onChangeDates($event)"></edu-period-filter>
  </div>

  <div class="field">
    <div class="title theme">Tema</div>
    <div class="sub-title">Aqui uma descrição breve do que são e de como funcionam os temas</div>
    <edu-themes-filter [initialThemes]="themes" (themesChange)="onChangeThemes($event)"></edu-themes-filter>
  </div>

  <div class="field">
    <div class="title">Entes do governo</div>
    <div class="edu-input">
      <select id="entities" name="entities" formControlName="entities" placeholder="entities">
        <option value="" selected disabled>Selecione uma opção</option>
        <option *ngFor="let entity of entities" [value]="entity">{{entity}}</option>
      </select>
    </div>
  </div>
</form>