<ng-container *ngIf="accessLevels$ | async as accessLevels">
  <app-container theme="light">
    <app-column [gap]="58">
      <app-column [gap]="16">
        <h1>{{ accessLevels.title }}</h1>
        <p>{{ accessLevels.text }}</p>
      </app-column>
      <app-row>
        <ng-container *ngFor="let item of accessLevels.items">
          <app-column [gap]="16">
            <app-icon [icon]="item.icon"></app-icon>
            <h3>{{ item.title }}</h3>
            <div [innerHTML]="item.text"></div>
            <ng-container *ngFor="let action of item.actions">
              <app-row>
                <a>{{ action.text }}</a>
                <mat-icon svgIcon="right-arrow" class="right-arrow"></mat-icon>
              </app-row>
            </ng-container>
          </app-column>
        </ng-container>
      </app-row>
    </app-column>
  </app-container>
</ng-container>
