<div class="start-search">
    <div class="block-container">
        <div class="content">
            <div class="image">
                <img src="assets/images/education/start-search.png" alt="comece a buscar" />
            </div>
            <div class="title">
                Vamos começar a buscar!
            </div>
            <div class="sub-title">
                Pronto, agora você já pode gerenciar alertas para monitorar Tecnologias na Educação!
            </div>
            <a routerLink="/educacao/busca">
                <div class="btne-primary">Começar a buscar</div>
            </a>
        </div>
    </div>
</div>