<form fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
  <app-row [flex]="true" [gap]="16">
    <aggregate-state-filter
      [initialValue]="stateQuery"
      [disabled]="isStateDisabled"
      label="Estado"
      class="state-input"
      (changeLocations)="onChangeState($event)"
    >
    </aggregate-state-filter>

    <aggregate-city-filter
      [initialValue]="cityQuery"
      [loadingCities]="loadingCities"
      [disabled]="isCityDisabled"
      label="Município"
      class="city-input"
      [cities]="getCityList()"
      [showCityLevel]="true"
      (changeLocations)="onChangeCity($event)"
      (changeQuery)="onChangeQuery($event)">
    </aggregate-city-filter>
  </app-row>

  <button (click)="search()" class="btn" data-testid="btn-pesquisar-dados">Pesquisar</button>
</form>
