<section
    class="bg-purple-2"
    fxLayoutAlign="center"
    fxLayout="row"
    *ngIf="dataSearchResponse && dataSearchResponse.error">    
    >
    <div class="container" fxLayout="column" fxLayoutGap="18px">
      <h2>Infelizmente não foi possível realizar a sua busca no momento.</h2>
      <p>
        Um problema com a nossa base de documentos ou com a sua conexão impediu
        a conclusão da pesquisa.
      </p>
      <p>
        Verifique seu acesso à internet e tente novamente, ou refaça sua busca
        mais tarde.
      </p>
    </div>
</section>

  <section
    class="bg-purple-2"
    fxLayoutAlign="center"
    fxLayout="row"
    *ngIf="dataSearchResponse && dataSearchResponse.total_dataSearch == 0">
    <div class="container" fxLayout="column" fxLayoutGap="18px">
      <h2>Sua pesquisa não encontrou nenhum conteúdo correspondente</h2>
      <p>
        Confira a grafia das palavras, tente outros termos ou palavras mais
        genéricas.
      </p>
    </div>
  </section>

  <div *ngIf="dataSearchResponse && dataSearchResponse.total_dataSearch > 0">
    <section class="bg-purple-3" fxLayoutAlign="center" fxLayout="row">
      <div class="container" fxLayout="column" fxLayoutGap="42px">
        <ng-container
          *ngIf="dataSearchResponse && dataSearchResponse.total_dataSearch > 0">
          <p>
            Abaixo, estão os resultados encontrados nos diários do município informado! Os dados estão organizados de maneira compactada e disponível para download!
          </p>
        </ng-container>

        <div fxLayout="row" fxLayoutAlign="space-between">
          <div>
            <h2>{{ dataSearchResponse.total_dataSearch }}
              resultados encontrados</h2>
            <em
              class="font-lato text-xs text-neutral-400">
              *A quantidade de resultados atingiu o limite da pesquisa. Tente
              utilizar termos mais específicos ou os operadores da <a
                href="/tecnologia/busca-avancada" target="_blank"
                class="text-xs highlight">busca avançada</a>.
            </em>
          </div>
          <div fxLayout="row" class="view-options">
            <app-select
              [title]="'ORDENAR POR'"
              [options]="orderOptions"
              [selected]="sort_by"
              class="text-white sort-by"
              (onSelected)="orderChanged($event)"></app-select>
          </div>
        </div>


        
      </div>
    </section>
  </div>
