<ng-container *ngIf="infos$ | async as infos">
  <app-container
    [title]="infos.title"
    [gap]="34"
    theme="light"
    bg="bg-gray-square"
  >
    <app-row [gap]="17">
      <app-column
        [style.padding]="'42px 30px'"
        *ngFor="let item of infos.items"
        [gap]="34"
        theme="dark-secondary"
      >
        <h2>{{ item.title }}</h2>
        <p>{{ item.text }}</p>
        <ng-container *ngFor="let action of item.actions">
          <a [routerLink]="'/'">{{ action.text }}</a>
        </ng-container>
      </app-column>
    </app-row>
  </app-container>
</ng-container>
