<app-column>
  <ng-template #loading>
    <app-container theme="light" fxFill>
      <mat-spinner *ngIf="loading"></mat-spinner>
    </app-container>
  </ng-template>
  <ng-container *ngIf="content$ | async as content; else loading">
    <app-container theme="light">
      <div class="container-inner">
        <h1>
          {{ content.explore.title }}
        </h1>
        <app-search-form></app-search-form>
      </div>
    </app-container>

    <app-container [gap]="34">
      <h1>{{ content.evolution.title }}</h1>
      <app-row layoutAlign="space-between">
        <app-column *ngFor="let item of content.evolution.items">
          <app-row
            [gap]="24"
            [flex]="true"
            [appFlexHeight]="172"
            [appFlexWidth]="120"
            layoutAlign="left"
          >
            <app-icon [icon]="item.icon"></app-icon>
            <app-column>
              <p>{{ item.count }}</p>
              <p>{{ item.text }}</p>
            </app-column>
          </app-row>
        </app-column>
      </app-row>
      <ng-container *ngFor="let action of content.evolution.actions">
        <app-row [gap]="12">
          <a [routerLink]="action.to">
            {{ action.text }}
          </a>
          <app-icon
            [icon]="{ file: 'right-arrow-white', height: 12, width: 12 }"
          >
          </app-icon>
        </app-row>
      </ng-container>
    </app-container>

    <app-container [gap]="34" theme="dark">
      <h1>{{ content.help.title }}</h1>
      <app-row layoutAlign="space-between" [flex]="true" [gap]="60">
        <app-column
          [appWidth]="380"
          fxFill.xs
          *ngFor="let item of content.help.items"
        >
          <app-column [gap]="24" [flex]="true">
            <app-icon [icon]="item.icon"></app-icon>
            <app-column [gap]="36" [gapXs]="16">
              <app-column [gap]="16" appFlexWidth>
                <h3>{{ item.title }}</h3>
                <p>{{ item.text }}</p>
              </app-column>
              <app-row [gap]="12">
                <ng-container *ngFor="let action of item.actions">
                  <a
                    *ngIf="action.to"
                    [ngClass]="action.style"
                    [href]="action.to"
                    target="_blank"
                  >
                    {{ action.text }}
                  </a>
                  <a
                    *ngIf="action.route"
                    [ngClass]="action.style"
                    [routerLink]="action.route"
                    [fragment]="action.fragment"
                  >
                    {{ action.text }}
                  </a>
                </ng-container>
              </app-row>
            </app-column>
          </app-column>
        </app-column>
      </app-row>
    </app-container>

    <app-container>
      <app-goals></app-goals>
    </app-container>

    <app-infos></app-infos>

    <app-container containerClass="container-notop" bg="bg-purple-square">
      <div fxLayout="column" fxLayoutGap="100px" fxLayoutGap.xs="0">
        <a (click)="openVideo()" class="video" fxLayout="row">
          <img
            fxFill
            [style.opacity]="'0.65'"
            src="../../../assets/images/video@1x.jpg"
            srcset="assets/images/video@2x.jpg 2x"
          />
          <app-icon [icon]="{ file: 'play', height: 50, width: 50 }"></app-icon>
        </a>
        <app-video-modal fxHide></app-video-modal>
        <div class="container-inner">
          <app-column [gap]="28">
            <h1>{{ content.trajectory.title }}</h1>
            <app-row *ngFor="let action of content.trajectory.actions">
              <a [routerLink]="action.to">
                {{ action.text }}
              </a>
              <app-icon
                [icon]="{ file: 'white-arrow', height: 12, width: 12 }"
              ></app-icon>
            </app-row>
          </app-column>
        </div>
      </div>
    </app-container>

    <app-container theme="light">
      <app-row [gap]="122" [gapXs]="16" [flex]="true">
        <ng-container *ngFor="let item of content.realization">
          <app-column [gap]="34">
            <p>{{ item.title }}</p>
            <app-row [gap]="34">
              <ng-container *ngFor="let icon of item.icons">
                <app-icon [icon]="icon"></app-icon>
              </ng-container>
            </app-row>
          </app-column>
        </ng-container>
      </app-row>
    </app-container>
  </ng-container>
</app-column>
