<ng-template #loading>
    <app-container theme="light" fxFill>
      <mat-spinner *ngIf="loading"></mat-spinner>
    </app-container>
  </ng-template>
  <ng-container *ngIf="content$ | async as content; else loading">
    <app-container theme="light">
      <div class="container-inner">
        <app-column [gap]="0">
          <h1>{{ content.title }}</h1>
          <i>Por {{ content.by }} em {{ content.when }}.</i>
          <ng-container *ngFor="let item of content.items">
            <app-column [gap]="22">
              <br> <! –– TODO[gcc]: Corrigir gap -- >
              <br>
              <h2>{{ item.title }}</h2>
              <ng-container *ngFor="let text of item.texts">
                <div class="typo-inner highlight" [innerHTML]="text.text"></div>
                <ng-container *ngFor="let img of text.images">
                  <img
                    [src]="img.src"
                    [appHeight]="img.height"
                    [appFlexHeight]="img.heightXs"
                    [appWidth]="img.width"
                    [appFlexWidth]="img.widthXs"
                  />
                </ng-container>
              </ng-container>
            </app-column>
          </ng-container>
        </app-column>
      </div>
    </app-container>
  </ng-container>
