<ng-container *ngIf="glossary$ | async as glossary">
  <app-container theme="light">
    <h1>{{ glossary.title }}</h1>
    <app-column [gap]="46">
      <div fxLayout="row wrap" fxLayoutGap="18px" class="index">
        <ng-container *ngFor="let action of glossary.actions">
          <a [routerLink]="action.to">{{ action.text }}</a>
        </ng-container>
      </div>
      <div [innerHTML]="glossary.text"></div>
      <app-column [gap]="60">
        <ng-container *ngFor="let item of glossary.items">
          <h2>{{ item.title }}</h2>
          <app-column [gap]="42">
            <ng-container *ngFor="let char of item.items">
              <app-column>
                <h3>{{ char.title }}</h3>
                <div [innerHTML]="char.text"></div>
              </app-column>
            </ng-container>
          </app-column>
        </ng-container>
      </app-column>
    </app-column>
  </app-container>
</ng-container>
