<ng-container *ngIf="content$ | async as content">
  <app-container theme="light">
    <div class="container-inner">
      <app-column [gap]="20">
        <h1>{{ content.title }}</h1>
        <app-column [gap]="46">
          <div fxLayout="row wrap" fxLayoutGap="18px" class="nav-dark">
            <ng-container *ngFor="let action of content.actions">
              <a [routerLink]="action.to">{{ action.text }}</a>
            </ng-container>
          </div>
          <div class="typo-inner" [innerHTML]="content.text"></div>
          <app-column [gap]="60">
            <ng-container *ngFor="let item of content.items">
              <h2>{{ item.title }}</h2>
              <app-column [gap]="42">
                <ng-container *ngFor="let char of item.items">
                  <app-column [gap]="22">
                    <h3>{{ char.title }}</h3>
                    <div class="typo-inner" [innerHTML]="char.text"></div>
                  </app-column>
                </ng-container>
              </app-column>
            </ng-container>
          </app-column>
        </app-column>

        <app-column [gap]="32">
          <ng-container *ngFor="let text of content.navigation.texts">
            <div class="typo-inner" [innerHTML]="text"></div>
          </ng-container>
          <h3>{{ content.navigation.title }}</h3>
          <app-column>
            <ng-container *ngFor="let action of content.navigation.actions">
              <a [href]="action.to">{{ action.text }}</a>
            </ng-container>
          </app-column>
        </app-column>
      </app-column>
    </div>
  </app-container>
</ng-container>
