<div class="post">
  <div [routerLink]="'/blog/' + postData.category" class="category">{{postData.category}}</div>
  <div class="title">{{postData.title}}</div>
  <div class="author">Por:&nbsp;<div class="author-name">{{postData.author}}</div></div>
  <div class="date full-page-date" *ngIf="isFullPage">{{date}}</div>
  <div class="banner" [ngStyle]="{'background-image': 'url(' + postData.banner + ')'}"></div>
  <div class="post-content" [innerHtml]="content" [class.full-page]="isFullPage"></div>
  <div class="date" *ngIf="!isFullPage">{{date}}</div>
  <a [routerLink]="'/blog/post/' + postData.id" class="link" *ngIf="!isFullPage">Ler mais</a>
</div>
