<div
  fxLayoutAlign="center center"
  fxLayout="column"
  fxFlexFill
  fxLayoutGap="34px"
  class="main"
>
  <mat-dialog-actions>
    <div class="container" fxLayout="row" fxLayoutAlign="flex-end">
      <button
        mat-icon-button
        aria-label="Fechar"
        aria-hidden="false"
        mat-dialog-close
      >
        <app-icon [icon]="icon"> </app-icon>
      </button>
    </div>
  </mat-dialog-actions>
  <mat-dialog-content style="height: 100%">
    <div class="container content" style="height: 100%">
      <iframe
        width="100%"
        height="100%"
        scrolling="no"
        src="https://www.youtube.com/embed/3QXciyBh_fw"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </mat-dialog-content>
</div>
