<div fxLayoutAlign="center center" fxLayout="column" fxFlexFill fxLayoutGap="34px">
  <mat-dialog-actions>
    <div class="container" fxLayout="row" fxLayoutAlign="flex-end">
      <button>
        <mat-icon
          aria-label="Fechar"
          aria-hidden="false"
          mat-dialog-close
          svgIcon="close-white"
          class="close"
        ></mat-icon>
      </button>
    </div>
  </mat-dialog-actions>
  <mat-dialog-content>
    <div class="container content">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/3QXciyBh_fw"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </mat-dialog-content>
</div>
