@font-face
  font-family: Baloo
  src: url(/assets/fonts/baloo/Baloo2-Bold.ttf)
  font-weight: 800
  font-style: normal

@font-face
  font-family: Lato
  src: url(/assets/fonts/lato/Lato-Regular.ttf)
  font-weight: 600
  font-style: normal

@font-face
  font-family: Lato
  src: url(/assets/fonts/lato/Lato-Bold.ttf)
  font-weight: 900
  font-style: normal

.mat-icon
  font-family: 'Material Icons' !important
