<form fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px" fxLayoutGap.xs="0">
  <app-row>
    <mat-form-field appearance="fill" class="search-input">
      <mat-icon matPrefix svgIcon="search-gray"></mat-icon>
      <mat-label>Ex.: licitação, contratação, COVID 19</mat-label>
      <input
        class="search"
        #termField
        matInput
        [formControl]="termControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete class="light" #auto="matAutocomplete">
        <p class="typo-secondary autocomplete-title" [style.marginLeft]="'16px'">Sugestões de busca</p>
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          <div fxLayout="row" class="autocomplete">
            <app-autocomplete-item [title]="option"></app-autocomplete-item>
            <!--<app-icon
              [icon]="{ file: 'money', height: 10, width: 10 }"
            ></app-icon>-->
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </app-row>

  <app-row [flex]="true" [gap]="16">
    <mat-form-field appearance="fill" class="city-input">
      <mat-icon matPrefix svgIcon="pin-gray"></mat-icon>
      <mat-label>Municípios</mat-label>
      <input
        class="city"
        #cityField
        matInput
        [formControl]="cityControl"
        [matAutocomplete]="cityInput"
      />

      <mat-autocomplete class="light" #cityInput="matAutocomplete">
        <mat-option
          *ngFor="let option of territories | async"
          [value]="option.territory_name"
        >
          <div fxLayout="row" class="autocomplete">
            <app-autocomplete-item
              [icon]="{ file: 'pin-gray', height: 28, width: 28 }"
              [title]="option.territory_name"
              [text]="'NÍVEL ' + option.level + ' DE ABERTURA'"
            ></app-autocomplete-item>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <app-date-picker-range
      #periodField
      (onRangeSelected)="onRangeSelected($event)"
      class="period-input"
    ></app-date-picker-range>
  </app-row>
  <button (click)="search()" class="btn">Pesquisar</button>
</form>
