<edu-header></edu-header>
<div class="home">
  <app-column class="home">
    <ng-template #loading>
      <app-container fxFill>
        <mat-spinner *ngIf="loading"></mat-spinner>
      </app-container>
    </ng-template>
    <ng-container *ngIf="content$ | async as content; else loading">
      <div class="banner container-education">
        <div class="content">
          <div class="banner-img desktop">
            <img src="assets/images/education/typing.png" alt="digitando" />
          </div>
          <div class="banner-img mobile">
            <img src="assets/images/education/mobile-typing.png" alt="digitando" />
          </div>
          <div class="banner-content">
            <h1 class="desktop">
              {{ content.title }}
            </h1>
            <h1 class="mobile" [innerHtml]="content.mobileTitle">
            </h1>
            <p class="sub-title">
              {{ content.subtitle }}
            </p>
            <button routerLink="/apoie" class="btne-primary desktop">{{ content.bannerButton }}</button>
            <button routerLink="/apoie" class="btne-primary mobile">{{ content.bannerButtonMobile }}</button>
          </div>
        </div>
      </div>

      <div class="reports-section">
        <div class="container-carousel">
          <h2>{{content.reports.title}}</h2>
          <p class="sub-title">{{content.reports.subtitle}}</p>
          <edu-carousel [items]="content.reports.reportsArray"></edu-carousel>
        </div>
      </div>

      <div class="about-section">
        <div class="container-carousel">
          <h2>{{content.reports.title}}</h2>
          <p class="sub-title">{{content.reports.subtitle}}</p>
          <edu-carousel [items]="content.cases.casesArray"></edu-carousel>
        </div>
      </div>

      <div class="container-education">
        <div class="content section-content">
          <div class="container-content">
            <p class="sub-title">
              {{ content.catalog.title }}
            </p>
            <h2>
              {{ content.catalog.subtitle }}
            </h2>
            <div class="container-img mobile">
              <img src="assets/images/education/charts.png" alt="digitando" />
            </div> 
            <button routerLink="/apoie" class="btne-primary full-width-mobile">{{ content.catalog.button }}</button>
          </div>
          <div class="container-img desktop">
            <img src="assets/images/education/charts.png" alt="digitando" />
          </div> 
        </div>
      </div>

      <div class="container-education about">
        <div class="content section-content">
          <div class="container-img desktop">
            <img src="assets/images/education/walking-dog.png" alt="digitando" />
          </div> 
          <div class="container-content">
            <p class="sub-title">
              {{ content.about.title }}
            </p>
            <h2>
              {{ content.about.subtitle }}
            </h2>
            <button routerLink="/apoie" class="btne-primary full-width-mobile">{{ content.about.button }}</button>
          </div>
        </div>
      </div>

      <div class="education-support">
        <app-container theme="light">
          <app-row [gap]="122" [gapXs]="16" [flex]="true">
            <ng-container *ngFor="let item of content.realization">
              <app-column [gap]="14">
                <p>{{ item.title }}</p>
                <app-row wrap="wrap" [gap]="14">
                  <ng-container *ngFor="let icon of item.icons">
                    <app-icon class="realization-icon" [icon]="icon"></app-icon>
                  </ng-container>
                </app-row>
              </app-column>
            </ng-container>
          </app-row>
        </app-container>
      </div>

    </ng-container>
  </app-column>
</div>