<div fxLayout="column">
  <section class="bg-purple-4" fxLayoutAlign="center" fxLayout="row">
    <div class="container" fxLayout="column" fxLayoutGap="26px">
      <p *ngIf="error">{{error}}</p>

      <form
        fxLayout="column"
        fxLayout.xs="column"
        fxLayoutGap="16px"
        fxLayoutGap.xs="30px"
        [formGroup]="suggestionForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field appearance="fill" class="search-input" ngDefaultControl>
          <mat-label>Qual é seu nome?</mat-label>
          <input matInput formControlName="name"/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="city-input">
          <mat-label>E seu e-mail?</mat-label>
          <input matInput formControlName="email_address">
        </mat-form-field>
        <mat-form-field appearance="fill" class="period-input">
          <mat-label>Como podemos melhorar?</mat-label>
          <input matInput formControlName="content">
        </mat-form-field>
        <button class="btn">Enviar sugestão</button>
      </form>
    </div>
  </section>
</div>
