<div fxLayout="column">
  <section class="bg-white-2" fxLayoutAlign="center" fxLayout="row">
    <div class="container form-search-container" fxLayout="column">
      <app-search-form></app-search-form>
    </div>
  </section>

  <section
    class="bg-purple-2"
    fxLayoutAlign="center"
    fxLayout="row"
    *ngIf="gazetteResponse && gazetteResponse.total_gazettes == 0"
  >
    <div class="container" fxLayout="column" fxLayoutGap="18px">
      <h2>Sua pesquisa não encontrou nenhum conteúdo correspondente</h2>
      <p>
        Confira a grafia das palavras, tente outros termos ou palavras mais
        genéricas.
      </p>
    </div>
  </section>

  <section
    class="bg-purple-2"
    fxLayoutAlign="center"
    fxLayout="row"
    *ngIf="!!territory"
  >
    <div
      class="container"
      *ngIf="level$ | async as level"
      fxLayout="column"
      fxLayoutGap.xs="36px"
      fxLayoutGap="44px"
    >
      <div fxLayout="row">
        <div fxLayout="row" fxFlex="40%" fxFlex.xs fxLayoutGap="12px">
          <app-icon
            [icon]="{
              file: level.icon,
              height: 50,
              width: 50
            }"
          >
          </app-icon>
          <div fxLayout="column">
            <p [style.lineHeight]="'13px'">{{ territory.territory_label }}</p>
            <span>
              <p>{{ level.title.toUpperCase() }}</p>
            </span>
          </div>
        </div>

        <div fxLayout="column" fxFlex="60%" fxFlex.xs fxLayoutGap="18px">
          <ng-container *ngFor="let text of level.descriptions">
            <div
              class="typo-inner dark highlight"
              [innerHTML]="text"
              [style.color]="'#FFF'"
            ></div>
          </ng-container>
          <ng-container *ngFor="let action of level.actions">
            <a
              class="btn-primary"
              [href]="action.to"
              [target]="action.target || '_self'"
            >
              {{ action.text }}
            </a>
          </ng-container>
        </div>
      </div>

      <div
        fxLayout="column"
        fxLayoutGap="42px"
        *ngIf="
          territory.publication_urls &&
          gazetteResponse &&
          !gazetteResponse.total_gazettes
        "
      >
        <p>Acesse a fonte de publicação para ver os arquivos originais:</p>
        <div
          fxLayout="column"
          class="bg-white-2 result color-purple-1"
          fxLayoutGap="12px"
        >
          <h3>Diários oficiais • {{ territory.territory_name }}</h3>
          <nav class="nav-dark" *ngIf="territory.publication_urls.length === 1">
            <ng-container
              *ngFor="let publication_url of territory.publication_urls"
            >
              <a class="nav-dark" [href]="publication_url" target="_blank">
                {{ extractUrlDomain(publication_url) }}
              </a>
            </ng-container>
          </nav>
          <nav class="nav-dark" *ngIf="territory.publication_urls.length > 1">
            <ng-container
              *ngFor="
                let publication_url of territory.publication_urls;
                index as i
              "
            >
              <a class="nav-dark" [href]="publication_url" target="_blank">
                Fonte {{ i + 1 }}
              </a>
              <ng-container *ngIf="i < territory.publication_urls.length - 1">
                <span>•</span>
              </ng-container>
            </ng-container>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <div *ngIf="gazetteResponse && gazetteResponse.total_gazettes">
    <section class="bg-purple-2" fxLayoutAlign="center" fxLayout="row">
      <div class="container" fxLayout="column" fxLayoutGap="42px">
        <ng-container *ngIf="level$ | async as level">
          <ng-container *ngFor="let text of level.texts">
            <p>{{ text }}</p>
          </ng-container>
        </ng-container>
        <ng-container
          *ngIf="
            !territory && gazetteResponse && gazetteResponse.total_gazettes > 0
          "
        >
          <p>
            Abaixo, estão os resultados encontrados nos diários dos municípios
            que já conseguimos disponibilizar em formato aberto! Assim você
            consegue realizar a busca nos documentos de um jeito fácil.
          </p>
        </ng-container>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <h2>{{ gazetteResponse.total_gazettes }} resultados encontrados</h2>
          <app-select
            [title]="'ORDENAR POR'"
            [options]="orderOptions"
            [selected]="sort_by"
            (onSelected)="orderChanged($event)"
          ></app-select>
        </div>

        <pagination-template
          #p="paginationApi"
          *ngFor="
            let gazette of gazetteResponse.gazettes
              | paginate
                : {
                    itemsPerPage: pagination.itemsPerPage,
                    currentPage: pagination.currentPage,
                    totalItems: gazetteResponse.total_gazettes
                  }
          "
        >
          <div
            fxLayout="column"
            class="bg-white-2 result color-purple-1"
            fxLayoutGap="22px"
          >
            <ng-container *ngFor="let text of gazette.excerpts">
              <div [innerHTML]="formatText(text)" class="typo-inner"></div>
            </ng-container>
            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutAlign="space-between"
            >
              <p [style.paddingTop]="'16px'">
                {{ gazette.date }} •
                <a [href]="gazette.url" target="_blank"
                  ><span class="color-purple-3">{{
                    gazette.territory_name
                  }}                  
                  ({{
                    gazette.state_code
                  }})
                </span>
                </a
                >
              </p>
              <app-select
                [style]="'secondary'"
                (onSelected)="openFile($event)"
                [options]="gazette.downloads"
                [label]="'Baixar diário oficial'"
              ></app-select>
            </div>
          </div>
        </pagination-template>
        <div fxLayout="row" fxFlexAlign="center" class="pagination-area">
          <a class="pagination-first-page" *ngIf="pagination.currentPage > 1">
            <mat-icon
              (click)="firstPage()"
              svgIcon="pagination-left-double-arrow"
            ></mat-icon>
          </a>
          <a class="pagination-first-page" *ngIf="pagination.currentPage > 1">
            <mat-icon
              (click)="previousPage()"
              svgIcon="pagination-left-single-arrow"
            ></mat-icon>
          </a>
          <pagination-controls
            class="pagination-mobile"
            (pageChange)="pageChange($event)"
            [maxSize]="5"
            previousLabel=""
            nextLabel=""
            [responsive]="false"
          >
          </pagination-controls>

          <pagination-controls
            class="pagination-desktop"
            (pageChange)="pageChange($event)"
            previousLabel=""
            nextLabel=""
            [responsive]="false"
          >
          </pagination-controls>
          <a
            class="pagination-first-page"
            *ngIf="
              pagination.totalItems &&
              (pagination.currentPage || 1) < pagination.totalItems
            "
          >
            <mat-icon
              (click)="nextPage()"
              svgIcon="pagination-right-single-arrow"
            ></mat-icon>
          </a>
          <a
            class="pagination-first-page"
            *ngIf="
              pagination.totalItems &&
              (pagination.currentPage || 1) < pagination.totalItems
            "
          >
            <mat-icon
              (click)="lastPage()"
              svgIcon="pagination-right-double-arrow"
            ></mat-icon>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
