<head>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">
</head>

<div fxLayout="column">
  <section class="bg-white-2" fxLayoutAlign="center" fxLayout="row">
    <div class="container form-search-container" fxLayout="column">
      <app-search-form></app-search-form>
    </div>
  </section>

  <section
    *ngIf="levels && levels.length"
    class="bg-purple-2 cities-result">
    <app-cities-search-result [levels]="levels"
      [territories]="territories"></app-cities-search-result>
  </section>

  <section
    class="bg-purple-2"
    fxLayoutAlign="center"
    fxLayout="row"
    *ngIf="gazetteResponse && gazetteResponse.error">
    <div class="container" fxLayout="column" fxLayoutGap="18px">
      <h2>Infelizmente não foi possível realizar a sua busca no momento.</h2>
      <p>
        Um problema com a nossa base de documentos ou com a sua conexão impediu
        a conclusão da pesquisa.
      </p>
      <p>
        Verifique seu acesso à internet e tente novamente, ou refaça sua busca
        mais tarde.
      </p>
    </div>
  </section>

  <section
    class="bg-purple-2"
    fxLayoutAlign="center"
    fxLayout="row"
    *ngIf="gazetteResponse && gazetteResponse.total_gazettes == 0">
    <div class="container" fxLayout="column" fxLayoutGap="18px">
      <h2>Sua pesquisa não encontrou nenhum conteúdo correspondente</h2>
      <p>
        Confira a grafia das palavras, tente outros termos ou palavras mais
        genéricas.
      </p>
    </div>
  </section>

  <div *ngIf="gazetteResponse && gazetteResponse.total_gazettes > 0">
    <section class="bg-purple-3" fxLayoutAlign="center" fxLayout="row">
      <div class="container" fxLayout="column" fxLayoutGap="42px">
        <ng-container *ngIf="level$ | async as level">
          <ng-container *ngFor="let text of level.texts">
            <p>{{ text }}</p>
          </ng-container>
        </ng-container>
        <ng-container
          *ngIf="gazetteResponse && gazetteResponse.total_gazettes > 0">
          <p>
            Abaixo, estão os resultados encontrados nos diários dos municípios
            que já conseguimos disponibilizar em formato aberto! Assim você
            consegue realizar a busca nos documentos de um jeito fácil.
          </p>
        </ng-container>

        <div fxLayout="row" fxLayoutAlign="space-between">
          <div>
            <h2>{{ gazetteResponse.total_gazettes }}<span
                *ngIf="gazetteResponse.total_gazettes >= searchResultMaxSize;">*</span>
              resultados encontrados</h2>
            <em *ngIf="gazetteResponse.total_gazettes >= searchResultMaxSize;"
              class="font-lato text-xs text-neutral-400">
              *A quantidade de resultados atingiu o limite da pesquisa. Tente
              utilizar termos mais específicos ou os operadores da <a
                href="/tecnologia/busca-avancada" target="_blank"
                class="text-xs highlight">busca avançada</a>.
            </em>
          </div>
          <div fxLayout="row" class="view-options">
            <app-select
              [title]="'ORDENAR POR'"
              [options]="orderOptions"
              [selected]="sort_by"
              class="text-white sort-by"
              (onSelected)="orderChanged($event)"></app-select>
          </div>
        </div>

        <div class="download-area">
          <div class="checkbox-item">
            <label class="label-checkbox" id="label-select-all">
              <input type="checkbox"
              id="checkbox-select-all"
              [checked]="isCheckboxCheckAllSelected()"
              (change)="selectAllCheckboxAction()">
              <span class="checkmark"></span>
              Selecionar Todos
            </label>
          </div>

          <button class="btn-download" (click)="downloadCSV()"
            [disabled]="listCheckedSearchResults.length == 0"
            name="botaoDownloadCSV">
            <mat-icon>cloud_download</mat-icon>
            <span class="text-white">Baixar selecionados
              <strong>{{getQntSelected}}</strong></span>
          </button>

        </div>

        <pagination-template class="gazette"
          #p="paginationApi"
          *ngFor="
          let gazette of gazetteResponse.gazettes
            | paginate
              : {
                  itemsPerPage: pagination.itemsPerPage,
                  currentPage: pagination.currentPage,
                  totalItems: gazetteResponse.total_gazettes
                }, index as i">
          <div class="checkbox-excerpts">
            <div class="checkbox-item ">
              <label class="label-checkbox">
                <input
                  type="checkbox"
                  [checked]="isSearchResultSelected((gazette.downloads[0].value+pagination.currentPage+i))"
                  (change)="selectSearchResults(gazette, gazette.downloads[0].value + pagination.currentPage + i)" />
                <span class="checkmark"></span>
              </label>
            </div>            
          </div>
          <div fxLayout="column" class="bg-white-2 result color-purple-1"
            fxLayoutGap="22px">
            <ng-container *ngFor="let text of gazette.excerpts">

              <div [innerHTML]="formatText(text)" class="typo-inner"></div>
            </ng-container>
            <div
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutAlign="space-between">
              <p [style.paddingTop]="'16px'">
                {{ gazette.date }} •
                <a [href]="gazette.url" target="_blank"><span
                    class="color-purple-3">{{
                    gazette.territory_name
                    }}
                    ({{
                    gazette.state_code
                    }})
                  </span>
                </a>
              </p>
              <app-select
                [style]="'secondary'"
                (onSelected)="openFile($event)"
                [options]="gazette.downloads"
                [label]="'Baixar diário oficial'"></app-select>

            </div>
          </div>
        </pagination-template>
        <div fxLayout="row" fxFlexAlign="center" class="pagination-area">
          <a class="pagination-first-page" *ngIf="pagination.currentPage > 1">
            <mat-icon
              (click)="firstPage()"
              svgIcon="pagination-left-double-arrow"></mat-icon>
          </a>
          <a class="pagination-first-page" *ngIf="pagination.currentPage > 1">
            <mat-icon
              (click)="previousPage()"
              svgIcon="pagination-left-single-arrow"></mat-icon>
          </a>
          <pagination-controls
            class="pagination-mobile"
            (pageChange)="pageChange($event)"
            [maxSize]="5"
            previousLabel
            nextLabel
            [responsive]="false">
          </pagination-controls>

          <pagination-controls
            class="pagination-desktop"
            (pageChange)="pageChange($event)"
            previousLabel
            nextLabel
            [responsive]="false">
          </pagination-controls>
          <a
            class="pagination-first-page"
            *ngIf="
              pagination.totalItems &&
              (pagination.currentPage || 1) < pagination.totalItems
            ">
            <mat-icon
              (click)="nextPage()"
              svgIcon="pagination-right-single-arrow"></mat-icon>
          </a>
          <a
            class="pagination-first-page"
            *ngIf="
              pagination.totalItems &&
              (pagination.currentPage || 1) < pagination.totalItems
            ">
            <mat-icon
              (click)="lastPage()"
              svgIcon="pagination-right-double-arrow"></mat-icon>
          </a>
        </div>
      </div>
    </section>
  </div>
</div>
