<section class="bg-purple-1" fxLayoutAlign="center" fxLayout="row">
  <div class="container">
    <div class="container-inner header" fxLayout="column" fxLayoutGap="36px">
      <div fxLayout="column" fxLayoutGap="24px">
        <h1>Apoie</h1>
        <h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque odio neque, interdum vel nunc
          varius,
          fringilla viverra risus.
        </h3>
      </div>
      <div fxFlex fxLayoutGap="36px" class="color-orange-1">
        <a>Nossas metas</a>
        <a>Quem apoia</a>
      </div>
    </div>
  </div>
</section>